[Desktop Entry]
Version=1.0
Name=TVPlayer2
Comment=Fernsehen
Icon=video-television
Exec=sh -c "python3 ~/.local/share/LiveStream-TVPlayer-master/TVPlayer2.py"
Categories=Video
StartupNotify=True
Terminal=False

